## Map, Reduce & Filter

#### Area of a circle

In [10]:
import math

def area(r):
    return round(math.pi*(r**2) , 2)

radii = [1,2,3,4,5]

areas = []

for r in radii:
    a = area(r)
    areas.append(a)

In [11]:
print(areas)

[3.14, 12.57, 28.27, 50.27, 78.54]

#### map(f,iterable object)

In [4]:
map(area, radii)

In [9]:
list((map(area, radii)))

[3.14, 12.57, 28.27, 50.27, 78.54]

#### Convert Celcius scale to Farheneit 

#### F = 9/5*C + 32

In [15]:
def celcius(c):
    return 9/5*c + 32
cel_to_f = lambda data:(data[0], celcius(data[1]))
temps = [("Pune", 35), ("Mumbai", 12), ("Nashik", 25)]
result = list(map(cel_to_f, temps))
result

[('Pune', 95.0), ('Mumbai', 53.6), ('Nashik', 77.0)]

In [12]:
temps = [("Mumbai", 35), ("Berlin", 12), ("Tokyo", 25), ("Hong Kong", 31), ("Sydney", 30), ("Abu Dhabi", 35)]

In [13]:
cel_to_f = lambda data:(data[0], (9/5)*data[1]+32)

In [14]:
list(map(cel_to_f, temps))

[('Mumbai', 95.0),
 ('Berlin', 53.6),
 ('Tokyo', 77.0),
 ('Hong Kong', 87.80000000000001),
 ('Sydney', 86.0),
 ('Abu Dhabi', 95.0)]

#### Filter Function - filters out the data 
#### filter(f, data)

In [16]:
import statistics

data = [1,2,3,4,5,6,7,8,9,10]

In [17]:
avg = statistics.mean(data)
print(avg)

5.5

In [18]:
filter(lambda x:x>5, data)

In [19]:
list(filter(lambda x:x>5, data))

[6, 7, 8, 9, 10]

In [21]:
name = ["Ravi", "Shyam", "Ram", 0, 0.0, "", "Kuber"]

In [22]:
filter(None, name)

In [22]:
list(filter(None, name))

['Ravi', 'Shyam', 'Ram', 'Kuber']

In [24]:
number = [12, 15, 20, 0, 0.0]

In [25]:
list(filter(None, number))

[12, 15, 20]

#### Reduce Function
#### reduce(f, data)

In [28]:
from functools import reduce

In [35]:
#Multiply all the items in a list

data = [1,2,3,4,5]

multiplier = lambda x,y: x*y
reduce(multiplier, data)

'''
val1 = 1*2
val2 = val1*3
val3 = val2*4
val4 = val3*5
return val4
'''

'\nval1 = 1*2\nval2 = val1*3\nval3 = val2*4\nval4 = val3*5\nreturn val4\n'

In [36]:
reduce(multiplier, data)

120

In [33]:
product = 1

for d in data:
    product = product * d
product

120